$link-color: #2563eb;
$btn-primary-color: #3b82f6;
$sidebar-color: #ffffff;
$body-background-color: #f8fafc;
$body-text-color: #334155;
$body-heading-color: #0f172a;
$nav-child-link-color: #334155;
$search-background-color: #ffffff;
$search-result-preview-color: #64748b;
$border-color: #e2e8f0;
$feedback-color: #f8fafc;
$code-background-color: #f8fafc;
